*{
    margin: 0;
    padding: 0;
    text-align: center;
}
.nab{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(13, 222, 48);
    height: 60px;
}
.choices {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  height: 350px;
}

.choice img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: block;
}

.choice img:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}


.scoreboard{
    display: flex;
    justify-content: center;
    gap: 100px;
    background-color: rgb(13, 222, 48);
    font-size: 35px;
    font-weight: bold;
    display:inline;
    border-radius: 30px;
    padding: 10px;

}
.cov{
    display: flex;
    justify-content: center;
    align-items: center;  
    font-size: 30px;
    gap: 30px;
    margin-top: 40px;
   

}
.msgcont{
    margin-top: 50px;
    font-size: 30px;
}

